# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
myenv/
.env/
.venv

# PyInstaller output folders
build/
dist/

# PyInstaller spec files (keep this if you don't need to track spec files)
*.spec

# Aider-related files
.aider*

# Logs and temporary files
pip-log.txt
pip-delete-this-directory.txt

# VS Code-specific files
.vscode/
*.code-workspace
.env

# Adding to stop complications from updating and versioning until major updates are added
.gitattributes
/linux_looker_v1.2.1.zip
linux_looker.zip
