# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
downloads/
.eggs/
*.egg-info/
.libs/
.scoverage/

# Virtual environments


# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.aider*
venv
